
RewriteEngine On



RewriteRule ^/?$ painel/site/index.php [NC,L]

RewriteRule ^inicio/?$ inicio.php [NC,L]

RewriteRule ^socios/?$ painel/site/socios.php [NC,L]
RewriteRule ^sobreclube/?$ painel/site/clube.php [NC,L]
RewriteRule ^associar/?$ painel/site/associar.php [NC,L]
RewriteRule ^page/?$ painel/site/page.php [NC,L]
RewriteRule ^galeriapresidentes/?$ painel/site/galeria.php [NC,L]
RewriteRule ^galeriagovernadores/?$ painel/site/governadores.php [NC,L]
RewriteRule ^consorcio/?$ painel/site/consorcio.php [NC,L]
RewriteRule ^campanha/?$ painel/site/campanha.php [NC,L]
RewriteRule ^blog/?$ painel/site/blog.php [NC,L]
RewriteRule ^post/?$ painel/site/single-blog.php [NC,L]
RewriteRule ^doacoes/?$ painel/site/doacoes.php [NC,L]
RewriteRule ^sejadoador/?$ painel/site/seja-doador.php [NC,L]
RewriteRule ^continuadoacoes/?$ painel/site/continua-doacoes.php [NC,L]
RewriteRule ^continuadoador/?$ painel/site/continua-doador.php [NC,L]
RewriteRule ^processadoacoes/?$ painel/site/proc-cd-doacoes.php [NC,L]
RewriteRule ^processadoador/?$ painel/site/proc-cd-doador.php [NC,L]
RewriteRule ^processacampanhas/?$ painel/site/proc-cd-campanha.php [NC,L]
RewriteRule ^processaconsorcio/?$ painel/site/proc-cd-consorcio.php [NC,L]
RewriteRule ^processaassociar/?$ painel/site/proc_associar.php [NC,L]
RewriteRule ^processaboleto/?$ painel/site/boleto.php [NC,L]
RewriteRule ^processapagseguro/?$ painel/integracao_pagseguro/integracao/pagseguro/clubedigital/compra/compra.php.php [NC,L]
RewriteRule ^balanco/?$ painel/mpdf/balanco-financeiro.php [NC,L]
